.link {
  text-decoration: none;
  font-size: x-large;
  margin-right: 10px;
  font-family: serif;
  transition: color 0.3s ease;
}
.link:hover {
  color: #3ba424;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
}
.title {
  font-size: 18px;
  font-style: italic;
  font-family: serif;
}
.title1 {
  font-size: 18px;
  font-style: italic;
  font-family: serif;
  transition: color 0.3s ease;
}
.title1:hover {
  color: #3ba424;
}
